<section {{ attributes }}>

    {{ form_start(form) }}

    {{ form_widget(form) }}



    <twig:Billing:ClientPreview
        :user="billing.users" />

    <twig:Billing:BillingCompanyCatalogTable
            :billing="billing"
    />


<div class="flex justify-end gap-2 sh">

        {% if billing.id is not null %}

            {{ include('billing/_delete_form.html.twig') }}

        {% endif %}



        <twig:Button
                text="Sauvegarder"
                type="submit"
        />


    </div>
    {{ form_end(form) }}


</section>
