{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Billing index{% endblock %}

{% block body %}
    <h1>Billing index</h1>
    <twig:Billing:BillingCard
        title="Billing card"
        description="Billing card description"
        routeIcon="app_billing_new"
    >

    <table>
        <thead>
            <th>#</th>
            <th>Status</th>
            <th>Date d'émission</th>
            <th>Réduction</th>
            <th>TVA</th>
            <th>Prix total HT</th>
            <th>Prix total TTC</th>
            <th></th>
        </thead>
        <tbody>
        {% for billing in billings %}
            <tr>
                <td></td>
                <td>{{ billing.status }}</td>
                <td>{{ billing.emitedAt|format_datetime('full', 'none', locale='fr') }}</td>
                <td>{{ billing.discount }}%</td>
                <td>{{ billing.priceVat }}€</td>
                <td>{{ billing.priceHt }}€</td>
                <td>{{ billing.priceTtc }}€ </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </twig:Billing:BillingCard>

    <a href="{{ path('commercial_company_app_billing_new') }}">Create new</a>
{% endblock %}
