<aside class="hidden w-[300px] p-10 md:flex h-screen flex-col justify-between text-{{ textColor }} rounded-r-3x shadow-lg bg-{{ backgroundColor }}">
    <div class="flex flex-wrap">
      
      <div class="flex flex-row flex-1 items-center pb-4 justify-start gap-2 border-b-2 border-text border-bottom">
        <img src="{{ logo }}" alt="" class="h-{{ logoSizeRem }} w-{{ logoSizeRem }} rounded-full object-cover" />
        <span class="text-lg uppercase  font-bold">{{ title }}</span>
  
      </div>
      
      <ul class="mt-6 w-full space-y-1">

     
        {{ this.generateMenuItems() }}

     

      </ul>
  
       
    </div>
  
   
  
        <div class="flex w-full justify-center">
           {{ companyName }}
     
        </div>
  </aside>
  