{% extends 'layouts/base.html.twig' %}

{% block title %}Bornenexus{% endblock %}

{% block content %}


<div>
    <header class="text-center h-screen" style="background-image: url('{{ asset("images/background_head.png") }}');background-size: cover;">
        <section class="head flex justify-center items-center ">
            <img src="{{ asset("images/logo.png") }}" alt="Photo" class="mr-4">
            <div>
                <h1 class="text-xl font-bold ">BORNENEXUS</h1>
            </div>
        </section>

        <h2 class="text-primary text-6xl font-bold text-center my-12 mt-32">Facilitez la gestion de votre entreprise</h2>
        <h3 class="text-black text-center mb-8 mt-2 text-4xl mb-36 -mt-11">grâce à notre suite complète d’outils conçue sur mesure.</h3>
        <p class="head-text text-black mb-28 text-center mx-44">Découvrez Bornenexus, la solution intégrale pour simplifier la gestion de votre entreprise d'installation de bornes de recharge pour voitures électriques. Gérez facilement factures, devis, et listes de clients, tout en accédant rapidement à un catalogue de produits fournis par vos partenaires.</p>
        <a href="{{ path("commercial_company_app_billing_index") }}" class="w-fit bg-primary px-4 py-2 rounded-lg mx-auto mb-56 flex items-center px-20 py-6 font-bold">Commencez dès maintenant</a>
    </header>
    <section class="grid grid-cols-2 gap-2 place-items-center py-16 mb-32">
        <img src="{{ asset("images/apropos.png") }}" alt="Photo" class="w-2/3 rounded-lg ml-8 md:ml-0"> <!-- Réduire la marge sur les écrans moyens et plus petits -->
        <div class="w-96 ml-8 md:ml-0 "> <!-- Réduire la marge sur les écrans moyens et plus petits -->
            <h3 class="text-2xl font-bold mb-6 -ml-96">À PROPOS</h3>
            <p class="text-black mb-6 -ml-96">À Bornenexus, nous nous engageons à simplifier la gestion quotidienne de votre entreprise spécialisée dans l'installation de bornes de recharge pour voitures électriques. Notre plateforme a été soigneusement conçue pour offrir une solution complète, de la gestion des factures et devis à la tenue organisée de vos listes de clients. Nous comprenons les défis uniques de votre secteur, c'est pourquoi Bornenexus facilite également l'accès à un catalogue exhaustif des produits de vos fournisseurs.</p>
            <p class="text-black -ml-96">Nous sommes passionnés par l'innovation dans le domaine de la mobilité électrique, et notre mission est de vous permettre de consacrer plus de temps à ce qui compte vraiment. Choisissez Bornenexus pour une gestion efficace, un accès rapide aux informations essentielles et une transformation positive de votre entreprise.</p>
        </div>
    </section>


    <h3 class="titre_3 text-3xl font-bold text-center mb-12 mt-36 mx-70">DÉCOUVREZ LES FONCTIONNALITÉS MULTIPLES OFFERTES PAR BORNEXUS</h3>
    <section class="container mb-12 gap-4 flex flex-col justify-center">
        <div class="list flex items-center mb-12 p-4 ">
            <img src="{{ asset("images/image1.png") }}" alt="Image 1" class="">
            <div class="text-container w-1/2 ml-8">
                <h4 class="font-bold mb-4">Suivi de business</h4>
                <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac tortor efficitur, aliquet felis vitae, dignissim mi. Fusce tellus sem, tristique eget bibendum non, efficitur at diam. Integer at eros sed ante sollicitudin eleifend.</p>
            </div>
        </div>
        <div class="list flex items-center justify-end mb-12 ml-auto p-4">
            <div class="text-container w-1/2 mr-8">
                <h4 class="font-bold mb-4">Catalogue fournisseur</h4>
                <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac tortor efficitur, aliquet felis vitae, dignissim mi. Fusce tellus sem, tristique eget bibendum non, efficitur at diam. Integer at eros sed ante sollicitudin eleifend.</p>
            </div>
            <img src="{{ asset("images/image2.png") }}" alt="Image 2" class="">
        </div>
        <div class="list flex items-center mb-24 p-4">
            <img src="{{ asset("images/image3.png") }}" alt="Image 3" class="">
            <div class="text-container w-1/2 ml-8">
                <h4 class="font-bold mb-4">Comptabilité</h4>
                <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac tortor efficitur, aliquet felis vitae, dignissim mi. Fusce tellus sem, tristique eget bibendum non, efficitur at diam. Integer at eros sed ante sollicitudin eleifend.</p>
            </div>
        </div>
    </section>

    <h3 class="titre_4 text-3xl font-bold text-center mb-40">UNE ÉQUIPE PRÉSENTE POUR VOUS ACCOMPAGNER DANS LA GESTION DE VOTRE ENTREPRISE</h3>
    <section class="team mb-32">
        <div class="team-slider">
            <ul class="team-list flex justify-center items-center list-none p-0">
                <li class="mx-6 text-center">
                    <img src="{{ asset("images/photo1.png") }}" alt="Collaborateur 1" class="w-40 h-40 rounded-full mb-2">
                    <p class="font-bold">RYAN DAVIS</p>
                    <p style="color: #d2d1d1">rôle</p>
                </li>
                <li class="mx-6 text-center">
                    <img src="{{ asset("images/photo2.png") }}" alt="Collaborateur 2" class="w-40 h-40 rounded-full mb-2">
                    <p class="font-bold">TOMAS JURISS</p>
                    <p style="color: #d2d1d1">rôle</p>
                </li>
                <li class="mx-6 text-center">
                    <img src="{{ asset("images/photo3.png") }}" alt="Collaborateur 3" class="w-40 h-40 rounded-full mb-2">
                    <p class="font-bold">ALICE AITKEN</p>
                    <p style="color: #d2d1d1">rôle</p>
                </li>
                <li class="mx-6 text-center">
                    <img src="{{ asset("images/photo4.png") }}" alt="Collaborateur 2" class="w-40 h-40 rounded-full mb-2">
                    <p class="font-bold">YONAS PETROS</p>
                    <p style="color: #d2d1d1">rôle</p>
                </li>
                <li class="mx-6 text-center">
                    <img src="{{ asset("images/photo5.png") }}" alt="Collaborateur 3" class="w-40 h-40 rounded-full mb-2">
                    <p class="font-bold">SARAH MUNRO</p>
                    <p style="color: #d2d1d1">röle</p>
                </li>
            </ul>
        </div>
    </section>

    <footer class="py-8 bg-gray-100">
        <h4 class="text-3xl font-bold text-center mb-32">ILS NOUS FONT CONFIANCE</h4>
        <section class="footer-content flex justify-center items-center">
            <img src="{{ asset("images/footer.png") }}" alt="image" class="mb-8">
        </section>

        <section class="head flex justify-center items-center mb-4 mt-24">
            <img src="{{ asset("images/logo.png") }}" alt="Photo" class="mr-4" mb-32>
            <div>
                <h1 class="text-xl font-bold">BORNENEXUS</h1>
            </div>
        </section>
        <p class="text-center text-gray-600">Copyright © 2023 bornenexus - All right reserved</p>
    </footer>
</div>



{% endblock %}
