<div {{ attributes }}>
    <div class="flex items-center justify-between flex-wrap gap-3">
        {% for product in products %}
            <div onclick="
                    if (event.target.tagName !== 'BUTTON' && event.target.tagName !== 'I') {
                    window.location.href = '{{ path('commercial_company_app_product_show', {'id': product.id}) }}';
                    }"
                 class="cursor-pointer flex flex-col rounded-3xl bg-neutral md:w-1/5 w-80 h-96 relative">
                <button
                        type="button"
                        data-action="live#action"
                        data-live-action-param="toggleFavorite"
                        data-live-product-param="{{ product.id }}"
                        class="absolute cursor-pointer z-[9999] -top-2 -right-2 rounded-full bg-white w-12 h-12 flex items-center justify-center text-yellow-500 text-xl">
                    {% if product.id in companyCatalogProducts %}
                        <i class="fa-solid fa-star"></i>
                    {% else %}
                        <i class="fa-regular fa-star"></i>
                    {% endif %}
                </button>
                <img src="{{ vich_uploader_asset(product,'thumbnailFile') }}" alt="{{ product.name }}"
                     class="rounded mb-4">
                <a href="{{ path('commercial_company_app_product_show', {'id': product.id}) }}" class="product-link p-6 ">

                    <div class="card-body">
                        <div class="flex justify-between items-center">
                            <span class="text-slate-950 font-light">{{ product.supplier.getName() }}</span>
                            <span class="card-title font-semibold">{{ product.price }}€</span>
                        </div>
                        <h3 class="card-text font-semibold">{{ product.name }}</h3>
                        <p class="line-clamp-2 mt-2">{{ product.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="flex justify-center mt-8">
        {% if totalProducts > itemsPerPage %}
            <div class="flex items-center">
                {% if currentPage-1 > 0 %}
                    <button class="border rounded-lg px-2 py-1" data-action="live#action" data-live-action-param="prevPage">Previous <i class="fa-solid fa-circle-chevron-left"></i> </button>
                {% endif %}
                {% if currentPage+1 <= totalPages %}
                    <button class="ml-auto  border rounded-lg px-2 py-1" data-action="live#action" data-live-action-param="nextPage"> Next <i class="fa-solid fa-circle-chevron-right"></i> </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

