<div class="inline-flex flex-0 p-3 {{ radius }} size-{{ size }} {{ radius }} text-{{ fontSize }} border-{{ borderWidth }} items-center gap-3 bg-{{ color }} {{ textColor }}">
  <i class="{{ icon }}"></i>
  {{ text}}
  <button onclick="this.parentElement.remove()" class="close"><i class="fas fa-times"></i></button>
</div>