
<span
  class="inline-flex w-auto gap-2 items-center {{ radius }} justify-center transition-all  bg-{{ color }}/50 text-{{ fontSize }} size-{{ size }} {{ weight }} hover:opacity-80 {{ textColor }} focus:outline-none focus:ring"
  {{ attributes|attribute2String }}
>

{{ text }}
</span>