<a href="{{ path(route) }}" class="rounded-full transition-all p-3.5 w-{{size}} h-{{size}} flex-0 bg-{{ bgColor }} flex justify-center cursor-pointer hover:brightness-75 items-center">
    <i class="{{ icon }} text-2xl text-{{ color }}"></i>
</a>